<form novalidate #form="ngForm" (submit)="onSubmit(form)">
  <input type="hidden" name="Id" [value]="service.formData.id" />
  <div class="form-group">
    <div class="row pb-2">
      <div class="col-md-4">
        <label>Nome</label>
        <input
          type="text"
          class="form-control form-control-lg"
          name="Name"
          #Name="ngModel"
          [(ngModel)]="service.formData.name"
          required
          [class.invalid]="Name.invalid && Name.touched"
        />
      </div>
      <div class="col-md-8">
        <label>Sobrenome</label>
        <input
          type="text"
          class="form-control form-control-lg"
          name="LastName"
          #LastName="ngModel"
          [(ngModel)]="service.formData.lastName"
          required
          [class.invalid]="LastName.invalid && LastName.touched"
        />
      </div>
    </div>
  </div>
  <div class="row pb-2">
    <div class="col-md-6">
      <label>Email</label>
      <input
        type="text"
        class="form-control form-control-lg"
        placeholder="email@email.com"
        name="Email"
        #Email="ngModel"
        [(ngModel)]="service.formData.email"
        required
        [class.invalid]="Email.invalid && Email.touched"
      />
    </div>
    <div class="col-md-6">
      <label>Data de nascimento</label>
      <input
        type="text"
        class="form-control form-control-lg"
        placeholder="dd/mm/aaaa"
        name="BirthDate"
        #BirthDate="ngModel"
        [(ngModel)]="service.formData.birthDate"
        ui-mask="99/99/9999"
        required
        [class.invalid]="BirthDate.invalid && BirthDate.touched"
      />
    </div>
  </div>
  <div class="row pb-2">
    <div class="col-md-6">
      <label>Escolaridade</label>
      <select
        class="form-select"
        name="SchoolingId"
        #SchoolingId="ngModel"
        [(ngModel)]="service.formData.schoolingId"
        required
      >
        <option selected disabled>Selecione</option>
        <option value="1">Infantil</option>
        <option value="2">Fundamental</option>
        <option value="3">Médio</option>
        <option value="4">Superior</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="d-grid gap-2 d-md-flex justify-content-between">
      <button
        class="btn btn-success"
        type="submit"
        [disabled]="form.invalid"
        
      >
        Salvar
      </button>
    
      <a class="btn btn-light" [routerLink]="['']">Voltar</a>
    </div>
  </div>
</form>
